//Colors
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);


//Font Size
$font-lg: 1.25rem;
$font-med: 1rem;
$font-sm: .75rem;
$font-xsm: .5rem;